<header class="top-nav">
  <div class="header-row">
    <span class="layout-title">
      <img class="github__logo" src="https://cdn.shopify.com/s/files/1/1270/3733/files/github-logo.svg?5651957207403941714" alt="github logo"><a class="link-title" href="/">Github Profile Search App</a>
    </span>
  </div>
</header>
<main class="layout__content">
  <header class="hero-background">
    <section class="hero__content">
      <div class="row">
        <div class="col-md-6">
          <img src="https://cdn.shopify.com/s/files/1/1270/3733/files/browser.svg?5651957207403941714" alt="">
        </div>
        <div class="col-md-6 hero__content_container">
          <img class="macbook" src="https://cdn.shopify.com/s/files/1/1270/3733/files/macbook.svg?5651957207403941714" alt="">
          <h4>Search up by Username on Github</h4>
        </div>
      </div>
    </section>
  </header>
</main>

<div class="container">
  <github></github>
</div>
